[
  {
    "battery": {
      "format": "{icon}",
      //"format": "  {icon}  {capacity}",
      "format-alt": "{icon}  {time}",
      "format-charging": " ",
      //"format-charging": "  {capacity}%",
      "format-icons": [
        "",
        "",
        "",
        "",
        ""
      ],
      "format-plugged": "  {capacity}",
      "states": {
        "critical": 15,
        "warning": 30
      }
    },
    "clock": {
      "format" : "{:%H:%M}",
      "format-alt": "{:%Y-%m-%d}",
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "height": 33,
    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": "",
        "deactivated": ""
      }
    },
    "layer": "top",
    "modules-center": [
      "river/window"
    ],
    "modules-left": [
      "river/tags",
    ],
    "modules-right": [
      "idle_inhibitor",
      "tray",
      "network",
      "pulseaudio",
      "battery",
      "clock"
    ],
    "network": {
      "format-alt": "{essid}",
      //"format-alt": "   {ifname}: {ipaddr}/{cidr}",
      "format-disconnected": "⚠  Disconnected",
      "format-ethernet": "   {ipaddr}/{cidr}",
      "format-linked": "  {ifname} (No IP)",
      "format-wifi": "",
      //"format-wifi": "   {signalStrength}",
      //"format-wifi": "  {essid} ({signalStrength}%) ",
      "tooltip-format": "{essid}",
      //"tooltip-format": "    {ifname} via {gwaddr}",
      "on-click": "~/.config/waybar/scripts/reseau.sh"
    },
    "position": "top",
    "pulseaudio": {
      "format": "{icon}   {volume}   {format_source}",
      "format-bluetooth": "{icon} {volume}   {format_source}",
      "format-bluetooth-muted": "{icon}󰝟   {format_source}",
      "format-icons": {
        "car": "",
        "default": "",
        "hands-free": "",
        "headphone": "",
        "headset": "",
        "phone": "",
        "portable": ""
      },
      "format-muted": "󰝟 {format_source}",
      "format-source": " {volume}",
      "format-source-muted": "",
      "on-click": "pavucontrol"
    },
    "river/tags": {
      "num-tags": 5
    }
  }
]
